@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-submit {
  border-radius: 4px;
  background: var(--orange-600, #c14817);
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--utility-white, #fff);
}

.btn-submit::hover {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--orange-500, #e76b39);
  background: var(--utility-white, #fff);
  color: var(--orange-500, #e76b39);
}
