@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --green-neatly-100: #f1f5f3;
    --green-neatly-200: #e6ebe9;
    --green-neatly-300: #d5dfda;
    --green-neatly-400: #abc0b4;
    --green-neatly-500: #81a08f;
    --green-neatly-600: #5d7b6a;
    --green-neatly-700: #465c50;
    --green-neatly-800: #2f3e35;
    --green-neatly-900: #171f1b;

    --orange-neatly-100: #faede8;
    --orange-neatly-200: #f9dace;
    --orange-neatly-300: #f3b59c;
    --orange-neatly-400: #ed906b;
    --orange-neatly-500: #e76b39;
    --orange-neatly-600: #c14817;
    --orange-neatly-700: #803010;
    --orange-neatly-800: #631f04;
    --orange-neatly-900: #401808;

    --gray-neatly-100: #f6f7fc;
    --gray-neatly-200: #f1f2f6;
    --gray-neatly-300: #e4e6ed;
    --gray-neatly-400: #d6d9e4;
    --gray-neatly-500: #c8ccd8;
    --gray-neatly-600: #9aa1b9;
    --gray-neatly-700: #646d89;
    --gray-neatly-800: #424c68;
    --gray-neatly-900: #2a2e3f;

    --primary-neatly: #f7f7fb;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
html {
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply bg-[#f7f7fb];
  }
  h1 {
    @apply font-serif text-[88px] font-medium leading-[125%] tracking-[-1.76px] text-[#323640];
  }
  h2 {
    @apply font-serif text-[68px] font-medium leading-[125%] tracking-[-1.36px] text-[#323640];
  }
  h3 {
    @apply font-serif text-[44px] font-medium leading-[125%] tracking-[-0.88px] text-[#323640];
  }
  h4 {
    @apply font-sans text-[28px] font-semibold leading-[150%] tracking-[-0.56px] text-[#323640];
  }
  h5 {
    @apply font-sans text-xl font-semibold leading-[150%] tracking-[-0.4px] text-[#323640];
  }
  .body1 {
    @apply font-sans text-base font-normal text-[#323640];
  }
  .body2 {
    @apply font-sans text-sm font-medium text-[#323640];
  }
  .body3 {
    @apply font-sans text-xs font-medium text-[#323640];
  }
  @layer components {
    .status-green {
      @apply rounded bg-[#E5FFFA] px-1 py-3 text-sm font-medium text-[#006753];
    }
    .status-blue {
      @apply rounded bg-[#E4ECFF] px-1 py-3 text-sm font-medium text-[#084BAF];
    }
    .status-red {
      @apply rounded bg-[#FFE5E5] px-1 py-3 text-sm font-medium text-[#A50606];
    }
    .status-yellow {
      @apply rounded bg-[#FFF9E5] px-1 py-3 text-sm font-medium text-[#766A00];
    }
    .status-gray {
      @apply rounded bg-[#F0F1F8] px-1 py-3 text-sm font-medium text-[#6E7288];
    }
    .bullet-text {
      @apply text-base font-normal text-[#646D89];
    }
  }

  .btn-primary {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: #c14817;
    color: #fff;
  }

  .btn-primary:hover {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: #e76b39;
    color: #fff;
  }

  .btn-primary:active {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: #803010;
    color: #fff;
  }

  .btn-primary:disabled {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: #e4e6ed;
    color: #9aa1b9;
  }

  .btn-secondary {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: none;
    border: 1px solid #e76b39;
    color: #e76b39;
  }

  .btn-secondary:hover {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: none;
    border: 1px solid #ed906b;
    color: #ed906b;
  }

  .btn-secondary:active {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: none;
    border: 1px solid #c14817;
    color: #c14817;
  }

  .btn-secondary:disabled {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    background: none;
    border: 1px solid #d6d9e4;
    color: #d6d9e4;
  }

  .visitlink {
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: #e76b39;
  }

  .visitlink:hover {
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: #ed906b;
  }

  .visitlink:disabled {
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: #c8ccdb;
  }
}
.textCircle {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  /* background-color: #fff;  */
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
